version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./infra/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  springboot-service:
    build:
      context: ./springboot-service
    container_name: springboot-service
    restart: always
    depends_on:
      - mysql
    env_file:
      - .env
    ports:
      - "${SPRINGBOOT_PORT}:8080"

  php-service:
    build:
      context: ./php-service
    container_name: php-service
    restart: always
    depends_on:
      - mysql
    env_file:
      - .env
    ports:
      - "${PHP_PORT}:80"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8085:80"

volumes:
  mysql_data:
